
@font-face {
    font-family: my_font;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

.article-content {
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    line-height: 1.6;
    color: #dddddd;
    -webkit-text-stroke: 1px black;
    font-family: my_font;
    font-weight: bold;
    font-size: 17pt;
    background: #00000040;
}

code {
    -webkit-text-stroke: 0 black;
    font-weight: normal;
    background: #000000ff;
}

.outlined-image {
    border: 1px solid #fff;
}

.article-content img,
.article-content video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f5f5f5;
    background: none;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

canvas#background {
    position: fixed; /* stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* keep it behind everything */
}

a {
    color: #00d9ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
